.sessionDurationSettings{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow-light);
}