@import "./topbar.css";
@import "./mainContent.css";
@import "./toggleButton.css";
@import "./timer.css";
@import "./actionButtons.css";
@import "./sessionDurationSettings.css";
@import "./sliderStyle.css";
@import "./behavior.css";

:root{
    --color-main: #6AB2FB;
    --color-gray: #565d6d;
    --color-gray-lighter: #bdc1ca;
    --default-box-shadow-light: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}