.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 48px;
    color: white;

    width: 278px;
    height: 278px;
    background-color: var(--color-main);
    border-radius: 50%;
}