.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #dee1e6;
    position: relative;
}

.topBar ul, a{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    color: var(--color-main);
    list-style-type: none;
    text-decoration: none;
    gap: 1rem;
}

.topBar .logo a{
    color: white;
}

.sectionsHeader{
    left: 50%;
    transform: translateX(-50%);

    position: absolute;
    font-size: 18px;
}

.logo{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--color-main);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}