.mainHistory{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.sessionSummaryInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.totalTimeSection{
    border-radius: 20px;
    box-shadow: 0px 0px 2px #171a1f14, 0px 1px 2.5px #171a1f12;
    display: flex; 
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    padding: 1rem;
}

.totalTimeSection span{
    color: var(--color-main);
}

.totalTimeSection p{
    color: var(--color-gray);
}

.totalTimeSection .totalTimeNumber{
    color: black;
    font-size: 20px;
}

.pastSessionCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 2px #171a1f14, 0px 1px 2.5px #171a1f12;
    border-radius: 20px;
}

.pastSessionCard .rightSection{
    font-family: 'JetBrains Mono', monospace;
    padding: .25rem .5rem;
    border-radius: 20px;
    color: var(--color-main);
    background-color: rgba(106, 178, 251, 0.1);
    box-shadow: 0px 0px 2px #171a1f14, 0px 1px 2.5px #171a1f12;
}
